[user]
	name = sunyunbo
	email = sunyunbo@axera-tech.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[url "git@git-pd.megvii-inc.com:"]
    insteadOf = https://git-pd.megvii-inc.com/
[url "git@git-core.megvii-inc.com:"]
    insteadOf = https://git-core.megvii-inc.com/
[color]
	ui = auto
[core]
	editor = vim
	pager = less -
[rebase]
	instructionFormat = (%an %ah) %s
[pager]
	branch = false
[merge]
	tool = nvimdiff
[mergetool "vimdiff"]
	layout = "(LOCAL,REMOTE)/MERGED"
[push]
	autoSetupRemote = true
[safe]
	directory = /data/xuxinran/dinov2
[tig "bind"]
  generic = D !git difftool --tool=vimdiff --no-prompt --trust-exit-code %(commit)^!
