snippet p "..." i
*
endsnippet

snippet o "..." i
&
endsnippet

snippet j "..." i
(${1})
endsnippet

snippet k "..." i
\{${1}\}${0}
endsnippet

snippet re "..."
return ${0}
endsnippet

snippet . "..." i
::
endsnippet

snippet - "..." i
->
endsnippet
