snippet main "..."

def ${0:main}():
	pass


if __name__ == "__main__":
	${0:main}()
endsnippet

snippet fn "..."
def ${1:Name}(${2:Parameter}):
	${0}
endsnippet


snippet ipy "..."
from IPython import embed; from inspect import currentframe, getframeinfo; frameinfo = getframeinfo(currentframe()); print(f"==> debug: {frameinfo.filename}@{frameinfo.lineno}"); embed()
endsnippet
